<widget xmlns:android="http://schemas.android.com/apk/res/android" package="com.paloma.morada" android:versionCode="0.0.5" android:versionName="1" android:installLocation="auto">
  <name>paloma purpura</name>
  <description>este juego trata de cuidar a la paloma mas odiada en facebook</description>
  <author href="" email="jesusaviles6969@gmail.com">jesus aviles</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <plugin name="cordova-plugin-battery-status" source="npm" spec="~1.1.1"/>
  <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1"/>
  <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2"/>
  <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1"/>
  <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0"/>
  <platform name="android">
    <icon src="res/icons/icon.png" density="ldpi"/>
    <icon src="res/icons/icon.png" density="mdpi"/>
    <icon src="res/icons/icon.png" density="hdpi"/>
    <icon src="res/icons/icon.png" density="xhdpi"/>
    <icon src="res/icons/icon.png" density="xxhdpi"/>
    <icon src="res/icons/icon.png" density="xxxhdpi"/>

  </platform>
  
</widget>